.editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 8px 24px 24px 24px;
  box-sizing: border-box;
  align-items: center;
}

.header{
  display: flex;  
  width: 100%;
  padding: 4px;
  padding-bottom: 8px;
  flex-direction: column;
  justify-content: space-between;
}

.modes{
  margin: 0 auto;
}

.actions{
  display: flex;
  width: 100%;
}

.actionButtons{
  margin-left: auto;
}

.left{
  display: flex;
}