h1 {
  height: 50px;
}

.lined {
  display: flex;
  margin: 8px;
  flex-direction: row;
  height: 24px;
  width: 440px;
  color: #d2d5dc;
}

.lined:before,
.lined::after {
  content: '';
  flex: 1 1;
  border-bottom: 1px solid #d2d5dc;
  margin: auto 8px auto 8px;
}

.folder {
  transform: scale(1.8);
}

.main {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.fileUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: min(768px, 100%);
  width: min(1024px, 100%);
  border-radius: 20px;
  margin-bottom: 32px;
  padding: 12px;
}

.fileInput {
  display: none;
}
