.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 264px;
  width: 208px;
  border-radius: 4px;
  margin: 8px;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.content {
  display: flex;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  overflow: hidden;
  margin: auto 8px;
  transition: box-shadow 0.2s;
}

.drag {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3), 0 0 0 4px #ff78a0,
    0 0 20px 4px rgba(0, 0, 0, 0.5);
    cursor: move;
}
